@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-image: url(_imagens/fundo.png);
    height: 232px;
}
header img.logo {
    position: relative;
    left: 220px;
    padding: 20px;
}

/* Cabeçalho */

.barra-vert {
    position: relative;
    width: 700px;
    margin: 0 auto;
}
header ul {
    display: inline-block;
    width: 800px;
    background-color: #B1002F;
    list-style: none;
}
header li {
    padding: 15px;
    display: inline-block;
    float: left;
}
header ul li a {
    color: white;
    font-size: 1.3em;
    font-weight: 500;
    text-decoration: none;
}