@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url(_imagens/fundo.png) repeat-x;
}

header {
    height: 210px;
    margin-top: 30px;
}
.logo {
    display: block;
}
.top {
    width: 800px;
    height: 250px;
    margin: 0 auto;
    background: url(_imagens/detalhe-topo.png) no-repeat right top;
}
.top ul {
    margin-top: 35px;
    background-color: #B1002F;
    list-style: none;
    float: left;
}
.top ul li {
    float: left;
}
.top ul li a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 0.9em;
    padding: 0.7em 1.5em;
    font-weight: 600;
}
.selecionado {
    background-color: red;
}
.top ul li:hover {
    background-color: red;
    transition: 500ms;
}

/* MAIN */

main {
    background: url(_imagens/fundo-caixa.png);
    width: 880px;
    margin: 0 auto;
    padding: 15px;
    height: 900px;
}
main h1 {
    background-color: #294970;
    color: white;
    font-size: 1.4em;
    font-weight: 700;
    padding: 5px;
}

.art1 {
    width: 210px;
    float: left;
}
.art1 ul {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 30px;
}
.art1 ul li {
    background-color: white;
    padding-top: 10px;
}
.art1 ul li a {
    padding: 15px;
    font-size: 1.3em;
    font-weight: 600;
}
.p-input {
    padding-top: 20px;
}
.mail {
    padding: 5px;
    border: solid 1px rgba(0, 255, 255, 0.437);
}
.botao {
    width: 100px;
    margin-top: 10px;
    padding: 5px;
    border: none;
    font-size: 1em;
    background-color: #B10030;
    color: white;
}

/* artigo 2 */

.art2 {
    width: 310px;
    float: left;
    padding-left: 30px;
}
.art2 div {
    margin-top: 15px;
    background-color: white;
    padding-bottom: 15px;
}
.art2 h2 {
    font-size: 1.1em;
    color: white;
    background-color: #99023E;
}
.doctor {
    width: 310px;
}
.art2 p {
    font-size: 1em;
    font-weight: 700;
    padding-top: 5px;
}
.art2 a {
    font-size: 1em;
    color: #99023E;
    padding-top: 5px;
}
